<nav class="navbar bg-body-tertiary shadow-sm mb-3 fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://img.freepik.com/free-vector/simple-corn-cartoon_1308-124847.jpg?w=2000" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      <img src="https://ukurier.gov.ua/media/images/2011-9/chaskor.ru.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Calculate working hours
    </a>
  </div>
</nav>